In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [4]:
ufo.loc[0,:]

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [5]:
ufo.loc[[0,1,2],:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [6]:
ufo.loc[0:2,:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [7]:
ufo.loc[0:3]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

In [9]:
ufo.loc[:, 'City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, dtype: object

In [10]:
ufo.loc[:, ['City', 'State']]

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
5               Valley City    ND
6               Crater Lake    CA
7                      Alma    MI
8                   Eklutna    AK
9                   Hubbard    OR
10                  Fontana    CA
11                 Waterloo    AL
12                   Belton    SC
13                   Keokuk    IA
14                Ludington    MI
15              Forest Home    CA
16              Los Angeles    CA
17                Hapeville    GA
18                   Oneida    TN
19               Bering Sea    AK
20                 Nebraska    NE
21                      NaN    LA
22                      NaN    LA
23                Owensboro    KY
24               Wilderness    WV
25                San Diego    CA
26               Wilderness    WV
27                   Clovis    NM
28               Los Alamos    NM
29             Ft. Duschene    UT
...                     ...   ...
18211               Holyoke    MA
18212                Carson    CA
18213              Pasadena    CA
18214                Austin    TX
18215              El Campo    TX
18216          Garden Grove    CA
18217         Berthoud Pass    CO
18218            Sisterdale    TX
18219          Garden Grove    CA
18220           Shasta Lake    CA
18221              Franklin    NH
18222        Albrightsville    PA
18223            Greenville    SC
18224               Eufaula    OK
18225           Simi Valley    CA
18226         San Francisco    CA
18227         San Francisco    CA
18228            Kingsville    TX
18229               Chicago    IL
18230           Pismo Beach    CA
18231           Pismo Beach    CA
18232                  Lodi    WI
18233             Anchorage    AK
18234              Capitola    CA
18235        Fountain Hills    AZ
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [11]:
ufo.loc[:, 'City':'State']

                       City Colors Reported Shape Reported State
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

[18241 rows x 4 columns]

In [12]:
ufo.loc[0:2, 'City':'State']

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

In [13]:
ufo[ufo.City =='Oakland']

          City Colors Reported Shape Reported State              Time
1694   Oakland             NaN          CIGAR    CA   7/21/1968 14:00
2144   Oakland             NaN           DISK    CA    8/19/1971 0:00
4686   Oakland             NaN          LIGHT    MD     6/1/1982 0:00
7293   Oakland             NaN          LIGHT    CA   3/28/1994 17:00
8488   Oakland             NaN            NaN    CA   8/10/1995 21:45
8768   Oakland             NaN            NaN    CA  10/10/1995 22:40
10816  Oakland             NaN          LIGHT    OR   10/1/1997 21:30
10948  Oakland             NaN           DISK    CA  11/14/1997 19:55
11045  Oakland             NaN       TRIANGLE    CA   12/10/1997 1:30
12322  Oakland             NaN       FIREBALL    CA   10/9/1998 19:40
12941  Oakland             NaN       CYLINDER    CA   1/23/1999 21:30
16803  Oakland             NaN       TRIANGLE    MD    7/4/2000 23:00
17322  Oakland             NaN       CYLINDER    CA    9/1/2000 21:35

In [14]:
ufo.loc[ufo.City == 'Oakland', :]

          City Colors Reported Shape Reported State              Time
1694   Oakland             NaN          CIGAR    CA   7/21/1968 14:00
2144   Oakland             NaN           DISK    CA    8/19/1971 0:00
4686   Oakland             NaN          LIGHT    MD     6/1/1982 0:00
7293   Oakland             NaN          LIGHT    CA   3/28/1994 17:00
8488   Oakland             NaN            NaN    CA   8/10/1995 21:45
8768   Oakland             NaN            NaN    CA  10/10/1995 22:40
10816  Oakland             NaN          LIGHT    OR   10/1/1997 21:30
10948  Oakland             NaN           DISK    CA  11/14/1997 19:55
11045  Oakland             NaN       TRIANGLE    CA   12/10/1997 1:30
12322  Oakland             NaN       FIREBALL    CA   10/9/1998 19:40
12941  Oakland             NaN       CYLINDER    CA   1/23/1999 21:30
16803  Oakland             NaN       TRIANGLE    MD    7/4/2000 23:00
17322  Oakland             NaN       CYLINDER    CA    9/1/2000 21:35

In [15]:
ufo.loc[ufo.City == 'Oakland', ['State','Time']]

      State              Time
1694     CA   7/21/1968 14:00
2144     CA    8/19/1971 0:00
4686     MD     6/1/1982 0:00
7293     CA   3/28/1994 17:00
8488     CA   8/10/1995 21:45
8768     CA  10/10/1995 22:40
10816    OR   10/1/1997 21:30
10948    CA  11/14/1997 19:55
11045    CA   12/10/1997 1:30
12322    CA   10/9/1998 19:40
12941    CA   1/23/1999 21:30
16803    MD    7/4/2000 23:00
17322    CA    9/1/2000 21:35

In [16]:
ufo.iloc[0:2, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [17]:
ufo.iloc[0:2, [0,3]]

          City State
0       Ithaca    NY
1  Willingboro    NJ

In [18]:
ufo.iloc[0:2, 0:4]

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ

In [20]:
range(0,2)

[0, 1]

In [21]:
ufo.iloc[0:3, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [22]:
ufo[['City', 'State']]

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
5               Valley City    ND
6               Crater Lake    CA
7                      Alma    MI
8                   Eklutna    AK
9                   Hubbard    OR
10                  Fontana    CA
11                 Waterloo    AL
12                   Belton    SC
13                   Keokuk    IA
14                Ludington    MI
15              Forest Home    CA
16              Los Angeles    CA
17                Hapeville    GA
18                   Oneida    TN
19               Bering Sea    AK
20                 Nebraska    NE
21                      NaN    LA
22                      NaN    LA
23                Owensboro    KY
24               Wilderness    WV
25                San Diego    CA
26               Wilderness    WV
27                   Clovis    NM
28               Los Alamos    NM
29             Ft. Duschene    UT
...                     ...   ...
18211               Holyoke    MA
18212                Carson    CA
18213              Pasadena    CA
18214                Austin    TX
18215              El Campo    TX
18216          Garden Grove    CA
18217         Berthoud Pass    CO
18218            Sisterdale    TX
18219          Garden Grove    CA
18220           Shasta Lake    CA
18221              Franklin    NH
18222        Albrightsville    PA
18223            Greenville    SC
18224               Eufaula    OK
18225           Simi Valley    CA
18226         San Francisco    CA
18227         San Francisco    CA
18228            Kingsville    TX
18229               Chicago    IL
18230           Pismo Beach    CA
18231           Pismo Beach    CA
18232                  Lodi    WI
18233             Anchorage    AK
18234              Capitola    CA
18235        Fountain Hills    AZ
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [23]:
ufo[0:3]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [26]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry', index_col = 'country')

In [27]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [28]:
drinks.ix['Albania', 0]

89

In [29]:
drinks.ix[1, 'beer_servings']

89

In [30]:
drinks.ix['Albania':'Andorra', 0:2]

         beer_servings  spirit_servings
country
Albania             89              132
Algeria             25                0
Andorra            245              138

In [32]:
ufo.ix[0:2, 0:2]

          City Colors Reported
0       Ithaca             NaN
1  Willingboro             NaN
2      Holyoke             NaN

In [35]:
drinks['alcohol_free'] = 0
drinks.loc[drinks.total_litres_of_pure_alcohol==0, 'alcohol_free'] = 1

In [36]:
drinks.alcohol_free.value_counts()

0    180
1     13
Name: alcohol_free, dtype: int64

In [37]:
drinks[drinks.alcohol_free == 1]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,alcohol_free
country,,,,,,
Afghanistan,0,0,0,0.0,Asia,1
Bangladesh,0,0,0,0.0,Asia,1
North Korea,0,0,0,0.0,Asia,1
Iran,0,0,0,0.0,Asia,1
Kuwait,0,0,0,0.0,Asia,1
Libya,0,0,0,0.0,Africa,1
Maldives,0,0,0,0.0,Asia,1
Marshall Islands,0,0,0,0.0,Oceania,1
Mauritania,0,0,0,0.0,Africa,1
Monaco,0,0,0,0.0,Europe,1
Pakistan,0,0,0,0.0,Asia,1
San Marino,0,0,0,0.0,Europe,1
Somalia,0,0,0,0.0,Africa,1

In [38]:
ufo['Colors Reported'].value_counts()

RED                       780
GREEN                     531
ORANGE                    528
BLUE                      450
YELLOW                    169
RED GREEN                  89
RED BLUE                   78
RED ORANGE                 44
GREEN BLUE                 34
RED GREEN BLUE             33
ORANGE YELLOW              26
RED YELLOW                 25
ORANGE GREEN               23
YELLOW GREEN               17
ORANGE BLUE                10
RED YELLOW GREEN            9
YELLOW BLUE                 6
YELLOW GREEN BLUE           5
ORANGE GREEN BLUE           5
RED YELLOW GREEN BLUE       4
RED ORANGE YELLOW           4
RED ORANGE BLUE             3
RED ORANGE GREEN            3
RED YELLOW BLUE             3
ORANGE YELLOW BLUE          1
RED ORANGE YELLOW BLUE      1
ORANGE YELLOW GREEN         1
Name: Colors Reported, dtype: int64

In [39]:
ufo['Shape Reported'].value_counts()

LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
PYRAMID         1
DOME            1
FLARE           1
HEXAGON         1
Name: Shape Reported, dtype: int64

In [ ]:
common_colors = ufo['Colors Reported'].value_counts().index[0:5]
common_shapes = ufo['Shape Reported'].value_counts().index[0:5]

In [ ]:
ufo.loc[:, ['usual', 'unusual']] = 0,0

In [ ]:
ufo.loc[ufo['Colors Reported'].isin(common_colors) & ufo['Shape Reported'].isin(common_shapes), ['usual', 'unusual']] = 1,0

In [ ]:
ufo.loc[~(ufo['Colors Reported'].isin(common_colors)) | ~(ufo['Shape Reported'].isin(common_shapes)), ['usual', 'unusual']] = 0,1

In [41]:
ufo.head()